
<div class="index_banner">
	<img src="resources/images/banner.jpg" width="753" height="130" />
</div>
<div class="index_title">
	<img src="resources/images/index_title.jpg" width="753" height="40" />
</div>
<ul>
	<li><a href="node.asp?upid=47"><span>Product
				development</span><img src="resources/images/pic1.jpg" width="224"
			height="113" />
	</a>
	</li>
	<li><a href="node.asp?upid=48"><span>Sourcing</span><img
			src="resources/images/pic2.jpg" width="224" height="113" />
	</a>
	</li>
	<li><a href="node.asp?upid=49"><span>Logistic</span><img
			src="resources/images/pic3.jpg" width="224" height="113" />
	</a>
	</li>
</ul>